APP_VERSION=0.0.1                                                                             
DOCKER_USERNAME=softvence                                                                     
PACKAGE_NAME="outmanazizi-server"                                                             
DB_PORT=5434                                                                                  
DB_NAME=outmanazizi_db                                                                        
DB_USER=outmanazizi_user                                                                      
DB_PASSWORD=outmanazizipassword                                                               
DB_HOST=127.0.0.1                                                                                  
                                                                                              
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

REDIS_PORT=6380
REDIS_HOST=redis
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}

JWT_SECRET="your_jwt_secret_keysdhfkasfaf"


# Server Configuration
PORT=3000

JWT_EXPIRES_IN="7d"

# Node Environment
NODE_ENV="development"

DOMAIN="http://localhost:3000"

                                                                         
# google
GOOGLE_CLIENT_ID="705831119487-kjfbppa1llvdkt74ktk99q556vge83vp.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CLIENT_CALLBACK_URL="http://localhost:3000/auth/google/redirect"


# #facebook
FACEBOOK_CLIENT_ID='2563505997356982'
FACEBOOK_CLIENT_SECRET='e09fe968ad3afdcf50836da083157dc1'
FACEBOOK_CALLBACK_URL='http://localhost:3000/auth/facebook/redirect'


# Email Configuration
EMAIL_USER="mahammadshariaralam@gmail.com"
APP_PASS="bhqd xblp lojy dkdu"

SUPER_ADMIN_EMAIL="superadmin@example.com"
SUPER_ADMIN_PASSWORD="12345678"

# Stripe account
STRIPE_PUBLIC_KEY="pk_test_51Rm0t5B9TuUJhvf8omr0HtcJYOjAB87Fqz33HPQ0fhAkbZshnaE1qcCFwDXtC5yFQ1OHUSxNpFhGtkqEXCVpirdg00iT9375Nt"

STRIPE_SECRET_KEY="sk_test_51Rm0t5B9TuUJhvf8Dmx0o4xsVHBxCRiSfuzy4HsrkmrX76GnqSrfJfrxgyOpf9dnAtSZRUlf3gdDBmx8BHREw4An00Ok5SWKLC"

STRIPE_REFRESH_URL="http://localhost:3000/stripe/refresh"
STRIPE_RETURN_URL="http://localhost:3000/stripe/return"

ADMIN_ACCOUNT="acct_1Rm0t5B9TuUJhvf8"
